.page {
    &__main {
        background-color: $color-black;
    }
}

.browser {
    padding: 20px;
    &__div {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding-bottom: 20px;
        &--input {
            height: 35px;
            border-radius: 5px;
            padding-left: 15px;
            background-color: $color-yellow;
            border: 3px solid $color-navy;
            font-family: monospace;
            font-size: 16px;
            @media (min-width: 768px) {
                width: 70vh;
                align-self: center;
            }
        }

        &--btnSearch {
           width: 80px;
            height: 35px;
            align-self: center;
            border: 2px solid $color-navy;
            border-radius: 5px;
            background-color: $color-yellow;
            color: $color-navy;
            font-weight: bold;
            font-family: monospace;
            font-size: 18px;
            text-transform: uppercase;
        }

    }
    &__icon{
        color: $color-yellow;
        font-family: 'Courier New', Courier, monospace;
        font-size: 15px;
        text-align: center;
    }
}
.portraits{
    display: flex;
    flex-direction: column;
    gap: 5px;
    @media (min-width: 768px) {
        display: flex;  
        flex-direction: row;
        justify-content: center;  
        gap: 20px;    
    }
    &__divFavourite{
        border: 5px solid $color-lightPurple;
        border-radius: 5px;
        height: 30vh;
        @media (min-width: 768px) {
            height: 70vh; //cambiar a auto
            width: 35vw;   
        }
        &--title{
            background-color: $color-lightPurple;
            font-family: 'Courier New', Courier, monospace;
            padding-left: 10px;
        }
    }
    &__divBrowser{
        border: 5px solid $color-purple;
        border-radius: 5px;
        height: max-content;
        @media (min-width: 768px) {
            // height: 70vh; //cambiar a auto 
            // width: 65vh;
        }
        &--title{
            background-color: $color-purple;
            font-family: 'Courier New', Courier, monospace;
            padding-left: 10px;
        }
        &--ul{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap:10px;
            justify-content: center;
            padding-top: 10px;
        }
    }
}
.card {
    border: 2px solid $color-purple;
    background-color: $color-purple;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;   
    width: 45vw;
    @media (min-width: 768px) {
        width: 27vh;
    }  
    &__img{
       width: 43vw;
       align-self: center;
       @media (min-width: 768px) {
        width: 25vh;
        padding-top: 5px;
    }
    }
    &__name{
        text-wrap: wrap;
        font-family: monospace;

    }
}
.backgroundYellow{
    background-color: $color-yellow;
}