<main class="page__main">
    <section class="browser">
        <div class="browser__div">
        <input type="text" class="browser__div--input js-input">
        <button class="browser__div--btnSearch js-btnSearch">Search</button>
        </div>
        <i class="fa-regular fa-trash-can fa-bounce browser__icon"></i> 
        <span class="browser__icon">
            Remove all your favorites and browsers
        </span> 
              
    </section>
    <section class="portraits">
        <div class="portraits__divFavourite">

        </div>
        <div class="portraits__divBrowser">

        </div>
    </section>
</main>
