<main class="page__main">
    <section class="browser">
        <div class="browser__div">
            <p class="space"></p>
            <input type="text" class="browser__div--input" id="js-inputText">
            <button class="browser__div--btnSearch js-btnSearch">Search</button>
        </div>
        <i class="fa-regular fa-trash-can fa-bounce browser__icon"></i>
        <span class="browser__icon">
            Remove all your favorites and browsers
        </span>

    </section>
    <section class="portraits">
        <div class="portraits__divFavourite ">
            <h2 class="portraits__divFavourite--title">Favourites</h2>
            <ul class="js-favs-list"></ul>
        </div>
        <div class="portraits__divBrowser js-pasteBrowsers">
            <h2 class="portraits__divBrowser--title">Search results</h2>
            <ul class="portraits__divBrowser--ul js-browsers-list"></ul>
        </div>
    </section>
</main>